<app-modal modalID="auth">

  <p class="text-2xl font-bold" heading>Your Account</p>
  <app-tabs-container>
    <app-tab tabTitle="Login">
      <!-- Login Form -->
      <app-login></app-login>
    </app-tab>
    <app-tab tabTitle="Register">
      <!-- Registration Form -->
      <app-register></app-register>
    </app-tab>
  </app-tabs-container>
</app-modal>
