<!-- Edit Modal -->
<app-modal modalID="edit-clip">
  <p class="text-2xl font-bold">Edit Video</p>

  <app-alert *ngIf="showAlert" [color]="alertColor">
    <p>{{ alertMsg }}</p>
  </app-alert>

  <!-- Form -->
  <form [formGroup]="editForm" (ngSubmit)="submit()">
    <!-- Title -->
    <div class="mt-4">
      <label class="block text-xl mb-4">Title</label>
      <app-input [control]="title" placeholder="Enter Title"></app-input>
    </div>

    <div class="mt-4 text-right">
      <button
        [disabled]="inSubmission"
        type="submit"
        [ngClass]="{
          'opacity-50': inSubmission,
          'hover:bg-indigo-700': !inSubmission
        }"
        class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm rounded-md text-white bg-indigo-600 focus:outline-none"
      >
        Update
      </button>
    </div>
  </form>
</app-modal>
